# Week4DataLabPrep_1_

- loading the dataset

In [13]:
from sklearn.preprocessing import StandardScaler, RobustScaler 
import numpy as np

In [23]:
import pandas as pd

# Load the unified dataset created in Week 3
file_path = "football_data.csv"
df = pd.read_csv("football_data.csv")
df.head()

,Player,Team,Team within selected timeframe,Position,Age,Market value,Contract expires,Matches played,Minutes played,Goals,...,Prevented goals per 90,Back passes received as GK per 90,Exits per 90,Aerial duels per 90.1,Free kicks per 90,Direct free kicks per 90,"Direct free kicks on target, %",Corners per 90,Penalties taken,"Penalty conversion, %"
0,S. Baidoo,Salzburg,Liefering,"RCB, LCB",19.0,1000000,2027-06-30,21,1986,1,...,NaN,1.45,NaN,NaN,0.00,0.00,0.0,0.00,0,0.0
1,M. Seidl,Rapid Wien,Blau-Weiß Linz,"LWF, RWF, AMF",22.0,1000000,2024-06-30,26,2293,12,...,NaN,0.24,NaN,NaN,0.39,0.31,0.0,0.12,0,0.0
2,B. Okoh,Salzburg,Liefering,"LCB, RCB",20.0,1000000,2025-06-30,8,476,0,...,NaN,1.32,NaN,NaN,0.00,0.00,0.0,0.00,0,0.0
3,B. Koumetio,Austria Wien,Austria Wien II,LCB,20.0,600000,2025-06-30,4,389,0,...,NaN,3.70,NaN,NaN,0.00,0.00,0.0,0.00,0,0.0
4,M. Polster,Austria Wien,Austria Wien II,"LB, LAMF",20.0,600000,2025-06-30,5,464,1,...,NaN,0.39,NaN,NaN,0.00,0.00,0.0,0.00,0,0.0

In [27]:
df[df.select_dtypes(np.number).columns] =  StandardScaler().fit_transform(df[df.select_dtypes(np.number).columns])
df[["Height","Weight"]]

         Height    Weight
0      0.434454  0.464273
1      0.251021  0.185616
2      0.467805  0.986754
3      0.584535  0.638433
4      0.384427  0.220448
...         ...       ...
16530  0.251021  0.081120
16531  0.417778  0.603601
16532  0.334399  0.499105
16533 -2.667234 -2.182967
16534 -2.667234 -2.182967

[16535 rows x 2 columns]

In [26]:

df[df.select_dtypes(np.number).columns] =  RobustScaler().fit_transform(df[df.select_dtypes(np.number).columns])
df[["Height","Weight"]]

          Height    Weight
0       0.454545  0.166667
1      -0.545455 -0.500000
2       0.636364  1.416667
3       1.272727  0.583333
4       0.181818 -0.416667
...          ...       ...
16530  -0.545455 -0.750000
16531   0.363636  0.500000
16532  -0.090909  0.250000
16533 -16.454545 -6.166667
16534 -16.454545 -6.166667

[16535 rows x 2 columns]